 /* GENERAL */
 
 :root {
     --fontH1: 'Timmana', sans-serif;
     --fontH2: 'Oranienbaum', serif;
     --fontP: 'Assistant', sans-serif;
     --colorRO: #e6f7f7;
     --colorVE: #a8ebc5;
     --colorAZ: #278dc0;
     --colorFU: #D74556;
     --colorAM: rgb(228, 216, 114);
     --colorB: black;
 }
 
 * {
     margin: 0;
     padding: 0;
 }
 
 html {
     font-size: 10px;
 }
 
 body {
     width: 100%;
     margin: 0 auto;
     align-content: center;
     background-color: var(--colorRO);
 }
 
 main {
     margin-left: 10%;
     margin-right: 10%;
     text-align: center;
 }
 
 a:link,
 a:visited,
 a:hover {
     text-decoration-line: none;
 }
 
 h2 {
     font-family: var(--fontH2);
     font-size: 4rem;
     color: var(--colorAZ);
     text-decoration: underline wavy 0.35rem var(--colorVE);
 }
 
 h3 {
     font-family: var(--fontP);
     border-bottom: 0.35rem solid var(--colorAM);
     font-weight: 700;
     font-size: 2rem;
 }
 
 h4 {
     font-family: var(--fontP);
     font-weight: 600;
     font-size: 1.8rem;
 }
 
 p {
     font-family: var(--fontP);
     font-weight: 500;
     font-size: 1.6rem;
     line-height: 1.5;
 }
 
 img {
     max-width: 100%;
     height: auto;
 }
 
 picture {
     max-width: 100%;
     height: auto;
 }
 
 figure figcaption {
     font-family: var(--fontP);
     font-size: 1.2rem;
     margin: 1%;
 }
 /* Logo */
 
 .caja {
     background: var(--colorAM);
     width: 24rem;
     height: 6%;
 }
 
 .titulo {
     font-family: 'Timmana', sans-serif;
     font-weight: 900;
     font-size: 4.1rem;
     color: var(--colorAM);
     line-height: .8;
     padding-top: 1.6rem;
     /* Animación */
     background-image: linear-gradient(90deg, rgba(215, 69, 86, 1) 32%, rgba(115, 168, 194, 1) 67%, rgba(94, 191, 136, 1) 100%);
     background-clip: text;
     color: transparent;
     background-size: 400%;
     animation: bg-animation 5s infinite alternate;
 }
 
 @keyframes bg-animation {
     0% {
         background-position: left
     }
     50% {
         background-position: right
     }
     100% {
         background-position: left
     }
 }
 /* Query - bajar tamaño títulos más grandes */
 
 @media screen and (max-width: 850px) {
     h2 {
         font-size: 3.5rem;
         line-height: 1.5;
         margin: 2%;
     }
 }
 /* PARTES COMPARTIDAS */
 /*Header*/
 
 header {
     z-index: 999;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 1%;
     padding-bottom: 0.5%;
     transition: 0.5s;
 }
 
 header.pegado {
     background-color: var(--colorVE);
 }
 
 main {
     padding-top: 9%;
 }
 
 header .navegacion {
     font-size: 1.6rem;
     text-transform: uppercase;
     font-family: var(--fontP);
     font-weight: 700;
     padding-top: 0.5%;
 }
 
 header .menu {
     width: 50%;
     padding-right: 15%;
 }
 
 header .caja {
     margin-left: 15%;
 }
 
 header .navegacion__enlace {
     color: var(--colorAZ);
     transition: 0.4s;
     transition-property: text, decoration;
 }
 
 header .navegacion a:hover {
     color: var(--colorFU);
     text-decoration: underline wavy 0.2rem var(--colorAM);
 }
 
 header .nube__head {
     color: var(--colorFU);
     padding: 3%;
 }
 
 header .btn {
     color: var(--colorAZ);
     font-size: 250%;
     cursor: pointer;
     display: none;
 }
 /* Header Query */
 
 @media screen and (max-width: 950px) {
     header {
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     header .menu {
         padding: 0;
     }
     main {
         padding-top: 15%;
     }
     header .caja {
         margin-left: 0;
         margin-top: 0.5%;
     }
 }
 
 @media screen and (max-width: 840px) {
     header {
         display: flex;
         flex-direction: row;
         align-items: center;
     }
     header .nube__head {
         display: none;
     }
     header .btn {
         display: inline-flex;
         margin-right: 10%;
     }
     header .caja {
         margin-top: 1%;
         margin-left: 7%;
     }
     header .menu {
         position: fixed;
         background-color: var(--colorVE);
         height: 100%;
         top: 0;
         right: -100%;
         transition: 0.5s;
         transition-property: right;
     }
     header .menu-btn {
         margin-right: 20%;
     }
     header .menu.active {
         right: 0;
     }
     header .navegacion {
         display: flex;
         flex-direction: column;
         margin-top: 90%;
     }
     header .navegacion__enlace {
         display: block;
         font-size: 2rem;
         margin: 2rem;
     }
     header .menu .close-btn {
         position: absolute;
         top: 0;
         left: 0;
         margin: 2rem;
     }
     main {
         padding-top: 17%;
     }
 }
 
 @media screen and (max-width: 550px) {
     main {
         padding-top: 20%;
     }
 }
 /*Footer*/
 
 footer {
     background: var(--colorAZ);
     color: var(--colorRO);
     font: 1.1rem var(--fontP);
     grid-row: 3;
     display: grid;
     grid-template-columns: 1fr 1fr;
 }
 
 footer p {
     font-size: 1rem;
 }
 
 footer .us,
 footer p {
     grid-column: 1;
 }
 
 footer .car {
     grid-column: 2;
     justify-self: end;
 }
 
 footer a:link,
 footer a:visited {
     color: var(--colorVE);
 }
 
 footer a:hover {
     color: var(--colorFU);
 }
 
 footer ul li {
     display: inline;
     padding-right: 5px;
 }
 
 .punt::before {
     content: "\2022";
     color: var(--colorRO);
     padding-right: 7px;
 }
 
 footer .us {
     margin-top: 4%;
     margin-bottom: 5%;
 }
 
 footer .car {
     margin-right: 5%;
     margin-bottom: 2%;
     margin-top: -10%;
 }
 
 footer p,
 footer .us {
     margin-left: 1.5%;
 }
 /* Footer Query */
 
 @media screen and (max-width: 650px) {
     footer {
         display: flex;
         flex-direction: column;
         align-items: center;
         height: 25%;
     }
     footer ul li {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-bottom: 3px;
     }
     .punt::before {
         content: none;
     }
     .us {
         padding-top: 4%;
     }
     footer>p {
         margin-bottom: 2px;
     }
     footer .car {
         margin-top: 1%;
     }
 }
 /* ----------------------------POR PÁGINA --------------------------------------------*/
 /* Index -------------------------------------------------------------------------------------------------------------------------*/
 /*Contenedor home*/
 
 .contenedor__home {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 1fr 1fr;
     grid-column-gap: 2.5%;
     grid-row-gap: 4%;
     margin-bottom: 10%;
     padding-bottom: 5%;
     margin-top: 3.8%;
     text-align: left;
 }
 
 .mainclubs h2 {
     margin-top: 4.5%;
 }
 
 .a-uno {
     grid-column: 1;
     grid-row: 1;
 }
 
 .a-dos {
     grid-column: 2;
     grid-row: 1;
 }
 
 .a-tres {
     grid-column: 3;
     grid-row: 1;
 }
 
 .a-cuatro {
     grid-column: 1;
     grid-row: 2;
 }
 
 .a-cinco {
     grid-column: 2;
     grid-row: 2;
 }
 
 .a-seis {
     grid-column: 3;
     grid-row: 2;
 }
 
 .contenedor__home article img {
     max-width: 100%;
 }
 
 .contenedor__home figure {
     width: 100%;
     padding-top: 0;
 }
 
 .contenedor__home article h3,
 .contenedor__home .nube {
     display: inline-block;
     margin-top: 3.5%;
 }
 
 .contenedor__home .nube {
     color: var(--colorFU);
     font-size: 1.6rem;
     margin-right: 2%;
 }
 
 .contenedor__home article h3 {
     margin-bottom: 3%;
 }
 
 .contenedor__home article a {
     font-size: 1.5rem;
 }
 
 .contenedor__home article p {
     margin-bottom: 2%;
 }
 
 .contenedor__home a {
     font-family: var(--fontP);
     font-weight: 700;
     font-size: 2.5rem;
     color: var(--colorFU);
 }
 
 .contenedor__home a:hover {
     color: var(--colorAM);
 }
 /* Query contenedor homre */
 
 @media screen and (max-width: 950px) {
     .contenedor__home {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-left: 5%;
         margin-right: 5%;
     }
     .main__home h2 {
         padding-bottom: 5%;
     }
     .contenedor__home article {
         margin-bottom: 8%;
     }
 }
 /*Deco home */
 
 .decor__home {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     margin-bottom: 8%;
 }
 
 .triangulo {
     clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
 }
 
 .intriangulo {
     clip-path: polygon(100% 0, 0 0, 50% 100%);
 }
 /* Seccion home */
 
 .seccion__home h2 {
     padding-bottom: 3%;
 }
 
 .seccion__home {
     margin-bottom: 10%;
 }
 
 .texto {
     grid-column: 1;
     font-size: 2.1rem;
     line-height: 1.5;
     text-align: left;
     text-align: center;
 }
 
 .foto-grupo {
     background: url(../img/fon2.jpg);
     background-size: cover;
     height: 100vh;
     clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
 }
 
 @media screen and (min-width: 0px) and (max-width: 639px) {
     .foto-grupo {
         background: url(../img/fon2-s.jpg);
         height: 60vh;
     }
 }
 
 @media screen and (min-width: 640px) and (max-width: 1023px) {
     .foto-grupo {
         background: url(../img/fon2-m.jpg);
         height: 80vh;
     }
 }
 /* Query Seccion home */
 
 @media screen and (max-width: 950px) {
     .club {
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .texto {
         margin-bottom: 4%;
     }
     form,
     .texto {
         margin-left: 3%;
         margin-right: 0;
     }
     #nombre,
     #correo,
     #contra {
         width: 100%;
         padding: 1.3rem;
         margin-bottom: 3%;
     }
     form .info {
         width: 100%;
     }
 }
 /* Categorias -------------------------------------------------------------------------------------------------------------------------*/
 
 .contenedor__categorias {
     line-height: 2;
     justify-self: center;
     display: grid;
     grid-template-columns: 1fr 3fr;
     margin-bottom: 2%;
     background-color: ;
 }
 
 .section1 {
     grid-column: span 2;
 }
 
 .section1>p {
     text-align: justify;
     margin-left: 10%;
     margin-right: 10%;
     margin-top: 2%;
 }
 
 .section1 .linea_categorias {
     border-top: 1.6rem double var(--colorVE);
     padding: 2px;
     width: 100%;
     margin-top: 4%;
     margin-bottom: 4%;
 }
 
 .aside {
     grid-column: 1;
     text-align: left;
 }
 
 .aside h3 {
     border-bottom: 0.35rem solid var(--colorAZ);
 }
 
 .aside ul {
     font: 1.8rem var(--fontP);
     color: var(--colorAZ);
     font-weight: 700;
     text-transform: uppercase;
     list-style: none;
     margin-top: 5%;
 }
 
 .aside li {
     margin: 1.5%;
 }
 
 .aside ul a:link,
 .aside ul a:visited,
 .section1 a:visited,
 .section1 a:link {
     color: var(--colorFU);
 }
 
 .aside ul a:hover,
 .section1 a:hover {
     color: var(--colorAM);
 }
 
 .section2 {
     grid-column: 2;
     align-items: center;
     margin-top: 5%;
     margin-left: 2.5%;
     margin-bottom: 2.5%;
     text-align: left;
 }
 
 .trio {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap: 2.5%;
     text-align: left;
 }
 
 .f1 {
     grid-column: 1;
 }
 
 .f2 {
     grid-column: 2;
 }
 
 .f3 {
     grid-column: 3;
 }
 
 .section2 .nube,
 .section2 h2 {
     display: inline-block;
 }
 
 .section2 .nube {
     font-size: 2.5rem;
     color: var(--colorFU);
     padding-right: 1rem;
     margin-bottom: 3.5%;
     margin-top: 3.5%;
 }
 
 .art__text a:link,
 .art__text a:visited {
     color: black;
 }
 
 .art__text a:hover {
     color: var(--colorFU);
 }
 
 .art__text a p {
     font-weight: 700;
     color: var(--colorAZ);
 }
 
 .art__text a p:hover {
     color: var(--colorFU);
 }
 
 .art__text .fecha {
     color: gray;
 }
 
 .trio article {
     padding-bottom: 15%;
 }
 /* Query Seccion Categorías */
 
 @media screen and (max-width: 850px) {
     .trio {
         display: flex;
         flex-direction: column;
         align-items: center;
     }
 }
 
 @media screen and (max-width: 650px) {
     .contenedor__categorias {
         display: flex;
         flex-direction: column;
         align-items: center;
     }
 }
 /* Detalle -------------------------------------------------------------------------------------------------------------------------*/
 
 .detalle__main {
     margin-top: 2%;
     display: grid;
     grid-template-columns: 25% 75%;
     grid-template-rows: 1fr 30%;
     column-gap: 3%;
 }
 
 .detalle__main ul li {
     list-style: none;
     font-size: 1.8rem;
     padding: 3%;
 }
 
 .detalle__main ul li:before {
     content: "\f0c2";
     font-family: FontAwesome;
     display: inline-block;
     margin-left: -1.3em;
     width: 1.3em;
     color: var(--colorFU);
 }
 
 .detalle__aside h4 {
     font-size: 2.3rem;
     font-weight: 700;
     color: var(--colorFU);
     text-align: left;
 }
 
 .detalle__main ul {
     text-align: left;
     margin-top: 8%;
 }
 
 .detalle__main a:link,
 .detalle__main a:visited {
     color: var(--colorAZ);
     font-family: var(--fontP);
 }
 
 .detalle__main a:hover {
     color: var(--colorFU);
 }
 
 .detalle__nav,
 .detalle__section {
     text-align: left;
 }
 
 .detalle__art {
     grid-column: 2;
     grid-row: 1;
 }
 
 .detalle__section {
     grid-column: 2;
     grid-row: 2;
 }
 
 .detalle__aside {
     grid-column: 1;
     grid-row: 1;
     margin-bottom: 5%;
     margin-top: 5%;
 }
 
 .detalle__art h3 {
     font-size: 4rem;
     font-weight: 700;
     border-bottom: 0.45rem solid var(--colorAM);
     padding-bottom: 0.5%;
     margin-bottom: 4%;
 }
 
 .detalle__art h4 {
     font-size: 2.4rem;
     margin-bottom: 4%;
 }
 
 .detalle__art p {
     text-align: justify;
     margin: 3%;
 }
 
 .detalle__art {
     margin-bottom: 3%;
 }
 
 .detalle__section a {
     font-size: 1.8rem;
     font-weight: 700;
     margin-bottom: 3%;
 }
 
 .detalle__section .fecha {
     color: gray;
 }
 
 .detalle__section {
     margin-bottom: 3%;
     margin: 3%;
 }
 /* Query Seccion Detalle */
 
 @media screen and (max-width: 850px) {
     .detalle__main {
         display: flex;
         flex-direction: column;
         align-items: center;
     }
 }
 /* Presentacion -------------------------------------------------------------------------------------------------------------------------*/
 
 .presentacion article {
     margin-left: 5%;
     margin-right: 5%;
     margin-bottom: 6%;
 }
 
 .presentacion p {
     text-align: justify;
     margin: 3%;
 }
 
 .presentacion h4 {
     font-size: 2.5rem;
     margin-left: 6%;
     margin-right: 6%;
 }
 
 .presentacion section {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .presentacion__equipo-grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     width: 60%;
     row-gap: 5%;
     column-gap: 2%;
     margin-bottom: 10%;
 }
 
 .team1 {
     grid-column: 1;
     grid-row: 1;
 }
 
 .team2 {
     grid-column: 2;
     grid-row: 1;
 }
 
 .team3 {
     grid-column: 1;
     grid-row: 2;
 }
 
 .team4 {
     grid-column: 2;
     grid-row: 2;
 }
 
 .presentacion__equipo-grid figure figcaption {
     font-size: 1.8rem;
     font-weight: 700;
     color: var(--colorAZ);
     text-decoration: underline wavy 0.2rem var(--colorAM);
 }
 
 .presentacion section p {
     width: 85%;
     padding-bottom: 3%;
 }
 
 .caramel {
     width: 25rem;
 }
 
 .caramel path {
     stroke-width: 10;
 }
 
 .caramel.c1 path {
     fill: var(--colorFU);
 }
 
 .caramel.c2 path {
     fill: var(--colorAZ);
 }
 
 .caramel:hover path {
     animation: anicaramel 2s linear forwards;
 }
 
 @keyframes anicaramel {
     45% {
         stroke-dashoffset: 3120;
         fill: var(--colorAM);
     }
     85% {
         stroke-dashoffset: 3120;
         fill: var(--colorVE);
     }
 }
 
 .caramelos {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 5%;
 }
 /* Query Seccion Presentacion */
 
 @media screen and (max-width: 850px) {
     .presentacion__equipo-grid {
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .team {
         margin-top: 3rem;
     }
 }
 /* Enlaces */
 
 .enlaces {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .enlaces a:link,
 .enlaces a:visited,
 .enlaces ul li {
     font-family: var(--fontP);
     font-size: 2rem;
     color: var(--colorB);
 }
 
 .enlaces a:hover {
     color: var(--colorFU);
 }
 
 .enlaces ul li {
     list-style: none;
     padding: 1%;
 }
 
 .enlaces ul li:before {
     content: "\f0c2";
     font-family: FontAwesome;
     font-size: 2rem;
     display: inline-block;
     color: var(--colorFU);
     margin: 1%;
 }
 
 .enlaces h2 {
     margin-bottom: 5%;
     margin-top: 3%;
 }
 
 .enlaces article {
     width: 30%;
     margin-bottom: 5%;
 }
 
 .enlaces h3 {
     margin-bottom: 2%;
 }
 
 .enlaces h4 {
     font-size: 1.8rem;
     margin-bottom: 10%;
 }
 /* Query Seccion Enlaces*/
 
 @media screen and (max-width: 850px) {
     .enlaces article {
         width: 80%;
     }
 }